@model SaitCourses.ViewModels.TShitsViewModel
<html>
<script>
    let userName = "@User.Identity.Name";
    let shirtId = "@Model.id"
</script>
<head>
    <title>lego</title>
    <link href="https://fonts.googleapis.com/css?family=Almarai:700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.4.0/fabric.min.js"></script>
    <script src="~/js/download.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<body>
    <div class="container marginT50">
        <div class="row">
            <div class="col-sm">
                <img src="@Model.image.Replace(".svg", ".png")">
                <a class="myclick" href="@Model.image.Replace(".svg", ".pdf").Replace("upload/","upload/fl_attachment/")" download>Download</a>
            </div>
            <div class="col-sm">
                <div class="container">
                    <h5 class="text-muted">Rating: @Model.rating</h5>
                    <form asp-action="SetRating" asp-controller="Users" asp-route-returnUrl="@Context.Request.Path" class="d-flex align-items-center" method="post">
                        <label class="m-0 mr-3">Estimate: </label>
                        @for (int i = 0; i < Model.ratings.Length; i++)
                        {
                            string buf = "check" + i;
                            if (Model.ratings[i])
                            {
                                <label for="@buf"><img width="30px" class="star-img" src="https://res.cloudinary.com/del5wrr12/image/upload/v1572456096/jtedaws7fbeu9bnkuwyt.png" /></label>
                            }
                            else
                            {
                                <label for="@buf"><img width="30px" class="star-img" src="https://res.cloudinary.com/del5wrr12/image/upload/v1572456114/gxzesm7xakigy5fk34fy.png" /></label>
                            }
                            <input id="@buf" asp-for="@Model.ratings[i]" class="mark-check d-none mr-1" />
                        }
                        <input type="hidden" asp-for="@Model.id" />
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button class="btn btn-default btn-primary p-1 ml-3" type="submit">Send</button>
                        }
                    </form>
                    <h2 id="Tname">T-Shirts name</h2>
                    <p class="text">@Model.TShirtName</p>
                    <p id="price">$30.00</p>
                    <p class="font700">Description</p>
                    <p class="text">@Model.description</p>
                    <p class="font700">Data </p>
                    <p class="text">@Model.data</p>
                    <hr id="line">
                    <p class="font700">size</p>
                    <form asp-controller="TShirt" asp-action="basket" asp-route-id="@Model.id" method="post">
                        <select class="form-control field-input mb-5 col-md-6" asp-for="sex">
                            <option value="Man">Man</option>
                            <option value="Woman">Woman</option>
                        </select>
                        <select class="form-control field-input mb-5 col-md-6" asp-for="size">
                            <option value="XL">XL</option>
                            <option value="L">L</option>
                            <option value="M">M</option>
                            <option value="S">S</option>
                            <option value="XS">XS</option>
                        </select>

                            <button id="add" class="btn">Bay</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*<div id="inputForm">
        <input type="text" id="message" />
        <input type="button" id="sendBtn" value="Отправить" />
    </div>*@

    
    <div class="container">
        <div class="main-section p-3 border mt-3 clearfix">
            <div>
                <textarea rows=3 id="message" class="form-control mb-3" placeholder="Comment text"></textarea>
                <button class="btn btn-default btn-primary mb-3" id="sendBtn">Send</button>
            </div>
            <div id="comments-list">
                @for (int i = 0; i < Model.comments.Length; i++)
                {
                    <div class="border rounded p-3 mb-3">
                        <h2 class="author">@Model.comments[i].userName</h2>
                        <p class="text-context">@Model.comments[i].Text</p>
                        <span>Rating: </span>
                        <span class="rating">@Model.comments[i].like</span>
                        <a class="like ml-3"><img src="https://res.cloudinary.com/del5wrr12/image/upload/v1572829492/w2gh8giame3qj8q8smjp.png" width="18" /></a>
                        <a class="dislike ml-3"><img src="https://res.cloudinary.com/del5wrr12/image/upload/v1572829492/veslqx4w2mepqah3br1q.png" width="18" /></a>
                        <input type="hidden" class="comment-id" value="@Model.comments[i].commentId" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container">
        
    </div>
</body>
</html>
<script src="~/js/signalr.min.js" ></script>
<script src="~/js/CommentHub.js" defer></script>
<script src="~/js/ShowCompany.js" defer></script>
<script>
    let markChecks = document.querySelectorAll(".mark-check");
    let starChecks = document.querySelectorAll(".star-img");
    for (let i = 0; i < markChecks.length; i++) {
        markChecks[i].addEventListener("click", function (e) {
            let buf = e.target.checked;
            for (let i = 0; i < markChecks.length; i++) {
                markChecks[i].checked = false;
                starChecks[i].src = "https://res.cloudinary.com/del5wrr12/image/upload/v1572456114/gxzesm7xakigy5fk34fy.png";
            }
            if (buf) {
                e.target.checked = true;
                for (let i = 0; i < markChecks.length; i++) {
                    starChecks[i].src = "https://res.cloudinary.com/del5wrr12/image/upload/v1572456096/jtedaws7fbeu9bnkuwyt.png";
                    if (markChecks[i].checked)
                        break;
                    markChecks[i].checked = true;
                }
            }
        });
    }


</script>