@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
@inject IViewLocalizer Localizer
@inject ApplicationContext _db
@model SaitCourses.ViewModels.EditUserViewModel
@*@{
        ViewBag.Title = "Edit";
    }*@
<script src="~/js/theme.js"></script>
<div class="form-signin col m-auto container body-content">
    @*@await Html.PartialAsync("_SelectLanguagePartial")*@
    <form asp-controller="Home" asp-action="SetLanguage" style="margin-top:20px;"
          asp-route-returnUrl="@Context.Request.Path"
          method="post" class="form-inline">
        @Localizer["Language: "] <select class="form-control" name="culture" onchange="this.form.submit();"
                                         asp-for="@requestCulture.RequestCulture.UICulture.Name"
                                         asp-items="cultureItems"></select>
    </form>
    <form class="form-signin col m-auto" method="post" asp-action="Setting" asp-controller="Users">
        <div asp-validation-summary="All" class="text-danger"></div>
        @*<div class="form-group">
            <input type="hidden" asp-for="Id" class="form-control" />
        </div>*@
        <div class="row">
            <div>

                <label asp-for="Email" class="control-label">@Localizer["Email"]</label>
                <input type="text" asp-for="Email" class="form-control" />
            </div>
            <div>
                <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div>
                <label asp-for="FirstName" class="control-label">@Localizer["FirstName"]</label>
                <input type="text" asp-for="FirstName" class="form-control" />
            </div>
            <div>
                <label asp-for="LastName" class="control-label">@Localizer["LastName"]</label>
                <input type="text" asp-for="LastName" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div>
                <label asp-for="Sex" class="control-label">Sex</label>
                <input type="text" asp-for="Sex" class="form-control" />
            </div>
            <div>
                <label asp-for="OldPassword" class="control-label">@Localizer["OldPassword"]</label>
                <input type="text" asp-for="OldPassword" class="form-control" />
            </div>

        </div>
        <div class="row">
            <div>
                <label asp-for="Password" class="control-label">@Localizer["Password"]</label>
                <input type="text" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>

            </div>
            <div>
                <label asp-for="PasswordConfim" class="control-label">@Localizer["PasswordConfim"]</label>
                <input type="text" asp-for="PasswordConfim" class="form-control" />
                <span asp-validation-for="PasswordConfim"></span>
            </div>
            <input type="submit" value="Add" class="btn btn-outline-primary" />
            </div>
</form>
    @*@Html.Partial("Edit")*@
</div>
<a class="dropdown-item" asp-controller="TShirt" asp-action="Constructor" asp-area="">@Localizer["Setting"]</a>
<div class="row align-items-baseline container pb-3 pr-sm-4 ">
    @foreach (var img in Model.shirts)
    {
        if (img.userId == Model.Id)
        {
            <div class="card left shadow-lg" style="margin-left:10px; width: 11rem;" width="100 col-sm-3 pb-3 pr-sm-4" >
                <embed src="@img.image.Replace(".svg", ".png")" class="card-img-top" alt="..." height="150" />
                <div class="card-body ellipsis">
                    <h6 class="card-text ellipsis">@img.name</h6>
                    <p class="card-text ellipsis">@img.description</p>
                    <div class="row ">
                        <form asp-controller="TShirt" asp-action="Delete" asp-route-id="@img.id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger"><img src="https://res.cloudinary.com/del5wrr12/image/upload/v1572397986/oqlhs3sjy8orthqrhtth.png"></button>
                        </form>
                        <form asp-controller="TShirt" asp-action="Constructor" asp-route-id="@img.id" asp-route-returnUrl="@Context.Request.Path">
                            <button type="submit" class="btn btn-sm float-right btn-primary">Edit</button>
                        </form>
                        <form asp-controller="Users" asp-action="More" asp-route-id="@img.id">
                            <button type="submit" class="btn btn-sm float-right btn-primary">More</button>
                        </form>

                    </div>
                </div>
            </div>
        }
    }
</div>
