
@{
    ViewData["Title"] = "Stores";
}

<h1>Stores</h1>

<table class="table">
    <tr><th>T-shirt name</th><th>Amount</th><th>Sex</th><th>Size</th><th>Order date</th></tr>
    @foreach (var Shirt in Model.basket)
    {
        if (Shirt.userId == Model.userId && Shirt.purchaseStatus == true)
        {

            <tr>
                <td>@Shirt.nameShirt</td>
                <td>@Shirt.amount</td>
                <td>@Shirt.sex</td>
                <td>@Shirt.size</td>
                <td>@Shirt.dataOfPurchase</td>
            </tr>

        }
    }
</table>

<form asp-controller="TShirt" asp-action="basket" method="get">
    <button type="submit" class="btn">Bake</button>
</form>
