@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<style>
    #dropbox {
        border: 4px dashed #ccc;
        padding-left: 8px;
    }

    .my-form {
        margin-top: 10px;
    }

    .gallery {
        margin: 10px;
    }

        .gallery img {
            margin-left: 16px;
        }

    .progress-bar {
        width: 200px;
        position: relative;
        height: 8px;
        margin-top: 4px;
    }

        .progress-bar .progress {
            height: 8px;
            background-color: #ff0000;
            width: 0;
        }
</style>


@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
<form method="post" asp-controller="Account" asp-action="LogOff">
    @if (User.IsInRole("Admin"))
    {
        <div class="text-center">
            <h1 class="display-4">@Localizer["WelcomeAdministrator"] @User.Identity.Name</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
        <a class="btn btn-outline-primary" asp-controller="Users" asp-action="Index">@Localizer["Users"]</a>
        <a class="btn btn-outline-primary" asp-controller="TShirt" asp-action="CreateTopic">Add role</a>
        <a class="btn btn-outline-primary" asp-controller="Roles" asp-action="Index">@Localizer["Role"]</a>
    }
    else if (User.IsInRole("User"))
    {
        <div class="text-center">
            <h1 class="display-4">@Localizer["Welcome"] @User.Identity.Name</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    }

</form>
}
else
{
    <h1 class="display-4 text-center">@Localizer["Welcome"]</h1>

}

<style>
    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
    }
</style>
<div class="row align-items-baseline container pb-3 pr-sm-4">
    @foreach (var img in Model)
    {
        <div class="card shadow-lg" style="margin-left:10px; width: 16rem;" width="250" >
            <embed src="@img.image.Replace(".svg",".png")" class="card-img-top" alt="..." height="250" />
            <div class="card-body ellipsis">
                <h4 class="card-text">@img.name</h4>
                <p class="card-text">@img.description</p>
                <form asp-controller="Users" asp-action="More" asp-route-id="@img.id">
                    <button type="submit" class="btn btn-sm float-right btn-primary">More</button>
                </form>
            </div>
        </div>

    }
</div>


<script src="~/dist/dropzone.js"></script>

<form action="file-upload" class="dropzone">
    <div class="fallback">
        <input name="file" type="file" multiple />
    </div>
</form>

@*<form asp-controller="Home" asp-action="Upload" asp-antiforgery="false"
          class="dropzone" id="UploadForm" enctype="multipart/form-data">
        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
        </div>
    </form>*@

@*<form action="/Home/UploadFiles" id="uploader" class="dropzone">
        <div id="dropzone-drop-area" class="dropzone-drop-area">
        </div>
    </form>*@
@*<form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
    </form>*@

@*<div class="row">
        <div class="col-md-9">
            <div id="dropzone">
                <form action="/Home/Upload" class="dropzone needsclick dz-clickable" id="uploader">
                    <div class="dz-message needsclick">
                        Drop files here or click to upload.<br>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <a class="btn btn-default btn-primary mb-3" onclick="document.querySelector('.image-loader').click()" href="#">Load image</a>
    <input class="image-loader" style="visibility: collapse; width: 0px;" type="file" onchange="upload(this.files[0])">
    <img class="company-image d-block" style="max-width: 300px; max-height: 150px;" src="~/server.svg" />*@
<form asp-controller="Image" method="get">
    <button type="submit" asp-controller="Image" asp-action="CreateShirt">Create</button>
</form>

