@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer



<style>
    #dropbox {
        border: 4px dashed #ccc;
        padding-left: 8px;
    }

    .my-form {
        margin-top: 10px;
    }

    .gallery {
        margin: 10px;
    }

        .gallery img {
            margin-left: 16px;
        }

    .progress-bar {
        width: 200px;
        position: relative;
        height: 8px;
        margin-top: 4px;
    }

        .progress-bar .progress {
            height: 8px;
            background-color: #ff0000;
            width: 0;
        }
</style>


@{
    ViewData["Title"] = "Home Page";
}



@if (User.Identity.IsAuthenticated)
{
    <form method="post" asp-controller="Account" asp-action="LogOff">
        @if (User.IsInRole("Admin"))
        {
            <div class="text-center">
                <h1 class="display-4">@Localizer["WelcomeAdministrator"] @User.Identity.Name</h1>
            </div>
            <a class="btn btn-outline-primary" asp-controller="Users" asp-action="Index">@Localizer["Users"]</a>
            <a class="btn btn-outline-primary" asp-controller="TShirt" asp-action="CreateTopic">Add role</a>
        }
        else if (User.IsInRole("User"))
        {
            <div class="text-center">
                <h1 class="display-4">@Localizer["Welcome"] @User.Identity.Name</h1>
            </div>
        }

    </form>
}
else
{
    <h1 class="display-4 text-center">@Localizer["Welcome"]</h1>
}


<select class="form-control field-input mb-5 col-md-6"> 
    <option value="All">All</option>
    @foreach (var topic in Model.topic)
    {
        <option value="@topic.nameTopic">@topic.nameTopic</option>
    }
</select>
<style>
    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
    }
</style>
<h3 class="text-left">Tags:</h3>
<div style=" display: flex; flex-wrap: wrap; padding: 5px; padding-top: 10px; border: 2px solid black; border-radius: 10px;" class="styleTag">
    @foreach (var tag in Model.tag)
    {
        <form asp-controller="Home" asp-action="Index" asp-route-tag="@tag.name" method="post">
            <button type="submit" style="margin-left:5px;" class="btn btn-primary" asp-for="@tag.name">@tag.name</button>
        </form>
    }
</div>

<div class="row align-items-baseline container pb-3 pr-sm-4">
    @foreach (var img in Model.shirt)
    {
        <div class="card shadow-lg" style="margin-left:10px; margin-top:10px; width: 16rem;" width="250">
            <embed src="@img.image.Replace(".svg",".png")" class="card-img-top" alt="..." height="250" />
            <div class="card-body">
                <h4 class="card-text ellipsis">@img.name</h4>
                <p class="card-text ellipsis">@img.description</p>
                <form asp-controller="Users" asp-action="More" asp-route-id="@img.id">
                    <button type="submit" class="btn btn-sm float-right btn-primary">More</button>
                </form>
            </div>
        </div>

    }
</div>


<script src="~/dist/dropzone.js"></script>

<form action="file-upload" class="dropzone">
    <div class="fallback">
        <input name="file" type="file" multiple />
    </div>
</form>


