@model SaitCourses.ViewModels.TShitsViewModel
<!DOCTYPE html>
<html>
<head>
    <title>lego</title>
    <link href="https://fonts.googleapis.com/css?family=Almarai:700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="js.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.4.0/fabric.min.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>

    <div class="container marginT50 dropzone">
        <div class="row">
            <div class="col-sm">
                <canvas id="canvas" width="500px" height="500px"></canvas>
            </div>
            <div class="col-sm">
                <div class="container">
                    <form class="my-form" method="post" asp-controller="TShirt" asp-action="Edit" asp-route-id="@Model.id">
                        <h2 id="Tname">T-Shirts name:</h2>
                        <input asp-for="TShirtName" type="text">
                        <p>Description:</p>
                        <input asp-for="description" type="text">
                        <p>Topic:</p>
                        <input id="imageLink" asp-for="image" hidden />
                        <select class="form-control field-input mb-5 col-md-6" asp-for="Topic">
                            <option value="@Model.Topics[0]">@Model.Topics[0]</option>
                            @for (int i = 1; i < Model.Topics.Length; i++)
                            {
                                <option value="@Model.Topics[i]">@Model.Topics[i]</option>
                            }
                        </select>

                        @*<button type="submit" id="imageLink2" hidden></button>*@
                        <div id="containerTag" style="display: flex; flex-wrap: wrap; padding: 5px; padding-top: 10px;"></div>

                        <div>
                            <input asp-for="Tag" id="inputTag" onchange="tag()" />
                        </div>

                        <script>
                            function tag() {
                                let containerTag = document.getElementById("containerTag");
                                containerTag.innerHTML = "";
                                let text = document.getElementById("inputTag").value;
                                text = text.replace('  ', ' ');
                                let word = text.split(' ');
                                for (i = 0; i < word.length; i++) {
                                    if (word[i].Trim !== '') {
                                        let div = document.createElement("div");
                                        div.innerHTML = "<div class=\"styleTag\" style=\"padding: 2px; border: 2px solid black; border-radius: 10px; margin-right: 10px; margin-bottom: 5px;\">" + word[i] + "</div>";
                                        containerTag.appendChild(div);
                                    }
                                }
                            }
                        </script>


                        <hr id="line">


                        <!-- ---------------------------------------------------------------------------------- -->
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="r" value="l" onchange="check()">Man
                                <!--<input type="radio" name="sex" id="option1" autocomplete="off" checked onclick="check()">-->
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="r" value="2" onchange="check()">Women
                                <!--<input type="radio" name="sex" id="option2" autocomplete="off" onclick="check()">-->
                            </label>
                        </div>
                        <!-------------------------------------------------------------------------------------  -->
                        <!-- ---------------------------------------------------------------------------------- -->
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="filter" value="blackAndWhite" onchange="changeImageFilter('blackAndWhite')">Black & White
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="filter" value="sepia" onchange="changeImageFilter('sepia')">Sepia
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="filter" value="pixelate" onchange="changeImageFilter('pixelate')">Pixelate
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="filter" value="none" onchange="changeImageFilter('none')">NONE
                            </label>
                        </div>


                        <!-------------------------------------------------------------------------------------  -->
                        <div class="container">
                            <div class="row">
                                <div class=".col-3 q">
                                    <p class="">Color object:   <input type="color" class="" id="favcolor"></p>
                                </div>
                                <div class=".col-3 q">
                                    <p class="">T-color: <input type="color" class="" id="tcolor"></p>
                                </div>
                                <div class=".col-3 q">
                                    <label class="custom-file-upload">
                                        <input type="file" id="file" />
                                        <i class="fa fa-cloud-upload"></i>Upload File
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class=".col-3 q">
                                    <button class="btn" type="submit" @*onclick="save()*@">Save</button>
                                </div>
                                <div class=".col-3 q">
                                    <button class="	" onclick="f()">Delete selected object</button>
                                </div>
                                <div class=".col-3 q">
                                    <button class="" onclick="text()">Add text</button>
                                </div>
                            </div>
                        </div>
                        <button id="add" class="font700">Add to Bag</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <hr id="line">
    </div>
    <div class="container">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="inputComment">
            <div class="input-group-append">
                <button id="comment" class="">Button</button>
            </div>
            <div class="progress" id="progress"></div>
        </div>
    </div>

    <script>$('.file-upload').file_upload();</script>
    <div class="file-upload-wrapper">
        <input type="file" id="input-file-now" class="file-upload" />
    </div>


    <form action="/file-upload"
          class="dropzone"
          id="my-awesome-dropzone"></form>

    <div id="dropbox">
        <h1 class="text-center">Upload files</h1>
        <form class="my-form">
            <div class="form_line">
                <div class="form_controls">
                    <div class="upload_button_holder">

                        <input type="file" id="fileElem" multiple accept="image/*" style="display:none" onchange="handleFiles(this.files)">
                        <img id="temp" src="" />
                        <a href="#" id="fileSelect">Select some files</a>
                    </div>
                </div>
            </div>
            <button type="submit">Save</button>
        </form>
        <div class="progress-bar" id="progress-bar">
            <div class="progress" id="progress"></div>
        </div>
        <div id="gallery" />
    </div>

</body>
</html>




<script type="text/javascript" src="~/js/Constructor.js"></script>




